<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>$title$</title>
  $if(description)$
  <meta name="description" content="$description$" />
  $endif$
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- A minimal, unopinionated template to serve as a base for custom designs. -->
</head>
<body>
  <header>
    $if(title)$
    <h1>$title$</h1>
    $endif$
    $if(description)$
    <p>$description$</p>
    $endif$
  </header>
  <main>
    $body$
  </main>
</body>
</html>
